/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 */

/*==================================================================================
  General
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  font-family: $f-regular;
  font-size: $f-regular-size;
}

body {
  display: block;
  background: $c-background;
  color: $c-text;
  cursor: default;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-overflow-scrolling: auto;
}

html,
body {
  height: 100%;

  @include media-breakpoint-down(lg) {
    height: auto !important;
  }
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  padding: 4rem 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

.content-top {
  padding: 4rem 0 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0 0 0;
  }
}

.content-bottom {
  padding: 0 0 4rem;

  @include media-breakpoint-down(sm) {
    padding: 0 0 1rem;
  }
}

.no-padding {
  padding: 0;
}

.entry-content {
  font-size: $s-16;

  table {
    width: 100%;

    td {
      border-color: #7c7a7a;
    }
  }

  p {
    margin: 1rem 0;
    line-height: 160%;
  }

  a {
    color: $c-accent;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    position: relative;
    margin: 1.5rem;
    list-style: none;

    li {
      margin: 0.5rem 0;

      &::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $c-accent; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }
  }
}

button:focus {
  outline: 0;
}

select {
  cursor: pointer;
  width: 100%;
}

select,
input,
textarea {
  display: flex;
  align-items: center;
  background: $c-second;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: $c-dark;
  border: none;
  padding: 5px;
  margin: 0;
  outline: none;
}

img[loading="lazy"] {
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

  &.dark {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }
  }

  img {
    @include img-fit(cover);
  }
}

.notfound {
  text-align: center;
}

@include media-breakpoint-down(lg) {
  .container {
    max-width: none;
  }

  .row > * {
    padding-right: var(--bs-gutter-x);
    padding-left: var(--bs-gutter-x);
  }
}

.notfound {
  padding: 2rem;
}

/*==================================================================================
  Preloader
==================================================================================*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  @include flexbox(flex, column, center, space-between);
  background: linear-gradient(219.63deg, #643b55 -3.55%, #182336 32.72%, #05080d 72.22%, #000000 86.9%), #040609;
  padding: 4vw;
  will-change: transform, opacity;

  h6 {
    font-size: $s-18;
    font-style: italic;
    font-weight: $medium;
    text-align: center;
    margin: 1.5rem 0 0;
  }

  &.hidden {
    pointer-events: none;
  }
}

.preloader__logo {
  margin: 4rem 0 0;
}

.preloader__percent {
  font-size: $s-18;
}

/*==================================================================================
  Header
==================================================================================*/
.site__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vw 3.5vw;
  z-index: 99;
  @include flexbox(flex, row, center, space-between);

  @include media-breakpoint-down(lg) {
    padding: 1rem 1.5rem;
  }
}

.site__header-branding {
  transition: all ease-out $transition_fast;

  img {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      transform: scale(1.01);
    }
  }
}

.site__header-menu-button {
  display: none;

  @include media-breakpoint-down(lg) {
    @include flexbox(flex, column, center, center);
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0 0 auto;

    .line {
      width: 32px;
      height: 3px;
      background: $c-light;
      border-radius: $r-radius;
      margin: 5px 0;
      transition: all ease-out $transition_fast;
      will-change: transform;
    }

    &[aria-expanded="true"] {
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 4px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg) translate(5px, -4px);
        }
      }
    }
  }
}

.site__header-navigation {
  flex: 1;
}

.site__header-nav-box {
  @include flexbox(flex, row, center, flex-end);
  margin: 0 0 0 2rem;

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3.5rem 1rem 1rem;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    flex-direction: column;
    transition: all ease-out $transition_fast;

    &.active {
      width: 100%;
      opacity: 1;
      visibility: visible;
      background: rgba(20, 30, 46, 0.98);
    }
  }
}

.site__header-menu {
  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  > ul {
    @include flexbox(flex, row, flex-start, flex-start);
    list-style: none;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
    }

    > li {
      position: relative;
      padding: 1rem;

      @include media-breakpoint-down(lg) {
        border-top: 1px solid #3b3064;
      }

      > a {
        color: $c-light;
        text-decoration: none;
        font-size: $s-16;
        text-transform: uppercase;
        font-weight: $semibold;
        letter-spacing: 0.04em;
        transition: all ease-out $transition_fast;

        &:hover {
          color: $c-accent;
        }
      }

      > ul {
        @include media-breakpoint-up(lg) {
          position: absolute;
          @include flexbox(flex, column, flex-start, flex-start);
          bottom: 0;
          left: 0;
          width: max-content;
          list-style: none;
          background: rgba(20, 30, 46, 0.92);
          border-radius: $r-radius;
          padding: 0.4rem 0;
          z-index: 9;
          transform: translate(0, 95%);
          will-change: transform, opacity;
          transition: all ease-out $transition_fast;

          opacity: 0;
          visibility: hidden;

          > li {
            > a {
              display: block;
              color: #8699bb;
              text-decoration: none;
              font-size: $s-16;
              font-weight: $semibold;
              letter-spacing: 0;
              transition: all ease-out $transition_fast;
              padding: 0.4rem 1rem;

              &:hover {
                color: $c-accent;
              }
            }
          }
        }

        @include media-breakpoint-down(lg) {
          list-style: none;
          padding: 0.4rem 0 0;
          display: none;

          &.active {
            display: block;
          }

          > li {
            > a {
              display: block;
              color: $c-light;
              text-decoration: none;
              padding: 0.4rem;
              font-weight: $medium;
              transition: all ease-out $transition_fast;

              &:hover {
                color: $c-accent;
              }
            }
          }
        }
      }

      &.menu-item-has-children {
        position: relative;
        @include flexbox(flex, row, center, center);

        @include media-breakpoint-down(lg) {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;

          > span {
            position: absolute;
            top: 10px;
            right: 0;
            width: 40px;
            height: 35px;
            display: block;
            cursor: pointer;
            background: url(assets/dist/svg/dropdown.svg) no-repeat center;
            background-size: 20px;
            z-index: 1;
            transition: all ease-out $transition_fast;

            &.active {
              transform: scaleY(-1);
            }
          }
        }

        @include media-breakpoint-up(lg) {
          &:hover {
            > a {
              &::after {
                transform: scaleY(-1);
              }
            }
          }

          &:hover {
            > a {
              color: $c-accent;
            }

            ul {
              visibility: visible;
              transform: translate(0, 100%);
              opacity: 1;
            }
          }
        }

        > a {
          position: relative;
          @include flexbox(flex, row, center, center);

          @include media-breakpoint-up(lg) {
            justify-content: space-between;
            text-align: left;

            &::after {
              content: "";
              margin: 0 0 0 7px;
              width: 7px;
              height: 5px;
              background: url(assets/dist/svg/dropdown.svg) no-repeat center;
              transition: all ease-out $transition_fast;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &.menu-left {
      ul {
        li:first-child {
          border: none;
        }
      }
    }
  }
}

/*==================================================================================
  Home slides
==================================================================================*/
.panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include flexbox(flex, column, center, center);
  padding: 6vw 3.5vw;
  overflow-y: auto;
  overflow-x: hidden;
  will-change: transform, opacity;

  @include media-breakpoint-down(lg) {
    position: relative;
    min-height: 100vh;
    opacity: 1 !important;
    transform: none !important;
    visibility: visible !important;
    overflow: hidden;
    padding: 3rem 0;
    min-height: auto;
  }
}

.panel:not(.first) {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
}

/* Molecule */
.molecule {
  position: relative;
  width: 31.944vw;
  height: 38.889vw;
  pointer-events: none;
  margin: 0 0 0 10vw;
  transform: scale(0.8);
  transition: all ease-out $transition_slow;

  &.molecule-2 {
    //transform: rotate(3deg) scale(0.8);

    .atom-3 {
      &::after {
        background: #8757ac;
      }
    }

    .atom-1 {
      &::before {
        width: 23vw;
      }
    }

    .atom-2 {
      &::before {
        width: 23vw;
      }
    }

    .atom-3 {
      &::before {
        width: 15vw;
      }
    }

    .atom-5 {
      &::before {
        width: 15vw;
      }
    }
  }

  &.molecule-3 {
    //transform: rotate(-3deg) scale(0.8);

    .atom {
      &::before {
        background: #b67de4;
      }

      &::after {
        background: #8757ac;
      }
    }

    .atom-1 {
      &::before {
        width: 23vw;
      }
    }

    .atom-2 {
      &::before {
        width: 23vw;
      }
    }

    .atom-3 {
      &::before {
        width: 15vw;
      }
    }

    .atom-5 {
      &::before {
        width: 15vw;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin: 5rem auto;
    transform: scale(1.2) !important;
  }

  @include media-breakpoint-down(sm) {
    transform: scale(1.8) !important;
  }
}

@keyframes impulse {
  0% {
    filter: blur(40px);
  }

  100% {
    filter: blur(0px);
  }
}

.atom {
  position: absolute;
  width: 4.722vw;
  height: 4.722vw;
  transition: all linear 1s;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23vw;
    height: 0.208vw;
    background: #fff;
    transform-origin: top left;
    opacity: 0.8;
    transition: all ease-out 1s 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #94afd7;
    box-shadow: inset 0 0 1vw 5px rgba(255, 255, 255, 1);
    border-radius: 50%;
    z-index: 2;
    transition: all linear $transition_fast;
  }

  &.atom-1 {
    top: 0;
    left: 10%;
    z-index: 2;

    &::before {
      width: 23vw;
      height: 0.208vw;
      transform: rotate(58.7deg) translate(10%, -0.8vw);
    }
  }

  &.atom-2 {
    top: 60%;
    left: 0%;

    &::before {
      width: 23vw;
      height: 0.208vw;
      transform: rotate(-82deg) translate(0, 2.5vw);
    }
  }

  &.atom-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    &::before {
      top: 0.2vw;
      left: 1vw;
      width: 15vw;
      height: 0.208vw;
      transform: rotate(22deg) translate(10%, 1.3vw);
    }
  }

  &.atom-4 {
    top: 58%;
    right: 0;
    z-index: 3;

    &::before {
      display: none;
    }
  }

  &.atom-5 {
    bottom: 0;
    left: 50%;
    z-index: -1;

    &::before {
      width: 15vw;
      height: 0.208vw;
      transform: rotate(-97.5deg) translate(-5%, 1.8vw);
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.molecule-overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 11vw 0 0;
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  transform: rotate(5deg) scale(0.9);
  transition: all ease-out $transition_slow;

  svg {
    position: absolute;
    top: -40%;
    right: 5vw;
    opacity: 0.1;
  }

  .atom-1,
  .atom-2,
  .atom-3,
  .atom-5 {
    &::before {
      width: 1px;
    }
  }

  &.active {
    opacity: 1;
    transform: rotate(0deg) scale(1);

    svg {
      path {
        stroke-dasharray: 2000;
        animation: dash 5s linear;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}

/* Backgrounds */
.fix-bg,
.stars-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;

  img {
    @include img-fit(cover);
  }
}

.stars-bg {
  transition: all ease-out 1s;
  opacity: 0;
  transform: scale(1.3);
  will-change: transform, opacity;

  &.active {
    opacity: 1;
    transform: scale(1);
  }

  &.star-2 {
    transform: scale(1.1);
  }
}

/* Slides */
.panel-0 {
  &.active {
    .home__zero-image {
      img {
        transform: rotate(0deg);
      }
    }
  }
}

.home__zero-title {
  font-size: $s-44;
  font-weight: $medium;
  text-align: center;
  max-width: 890px;
  margin: -10vw auto 0;
  line-height: 1.3;

  @include media-breakpoint-down(lg) {
    margin: 6rem auto 0;
    font-size: $s-26;
  }
}

.home__zero-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  max-height: 35vh;
  overflow: hidden;
  z-index: -1;

  img {
    @include img-fit(cover);
    transition: all ease-out $transition_slow;
    transform: rotate(3deg);
  }
}

.home__head-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.85) translate(0, 3%);

  img {
    @include img-fit(contain);
  }

  @include media-breakpoint-down(lg) {
    position: relative;
    transform: scale(0.8) translate(0, 0);
  }
}

.home__slide-one {
  position: relative;
  width: 100%;
  height: 100%;
  @include flexbox(flex, row, flex-end, space-between);

  @include media-breakpoint-down(lg) {
    align-items: flex-start;
    gap: 1rem;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 0 1.5rem;
  }

  h2 {
    position: relative;
    z-index: 1;
    max-width: 480px;
    font-size: $s-44;
    font-weight: $medium;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
      font-size: $s-26;
    }
  }

  h3 {
    position: relative;
    z-index: 1;
    max-width: 260px;
    font-size: $s-18;
    font-weight: $semibold;
    line-height: 1.4;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
      font-size: $s-16;
      color: #8699bb;
    }

    @include media-breakpoint-down(sm) {
      max-width: none;
      margin: 1rem 0 0;
    }
  }
}

.home__slide-text {
  h2 {
    font-size: $s-34;
    font-weight: $semibold;

    @include media-breakpoint-down(lg) {
      margin: 1rem 1rem 0 0;
      font-size: $s-26;
      flex: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    .inner {
      flex: 1;
    }
  }

  .description {
    font-size: $s-16;
    font-weight: $semibold;
    line-height: 1.6;
    color: $c-second;
    margin: 2rem 0 0;

    p {
      margin: 1rem 0;
    }

    @include media-breakpoint-down(lg) {
      margin: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    @include flexbox(flex, row, flex-start, space-between);
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.button__line {
  position: relative;
  @include flexbox(flex, row, center, center);
  width: fit-content;
  font-size: $s-18;
  text-transform: uppercase;
  color: $c-light;
  font-style: italic;
  text-decoration: none;
  font-weight: $bold;
  padding: 0 0 1rem;
  margin: 2rem 0 0;
  background: none;
  cursor: pointer;
  border: none;
  transition: all ease-out $transition_fast;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(89.97deg, #7a49b8 0.02%, rgba(17, 22, 35, 0) 100.84%);
    border-radius: 3px;
    background-size: 100%;
    transition: all ease-out $transition_fast;
  }

  &:hover {
    color: $c-accent;

    &::before {
      background-size: 200%;
    }
  }
}

/* Panel footer */
.panel-footer {
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 6rem;

  @include media-breakpoint-down(sm) {
    padding-bottom: 1rem;
  }
}

.latest-post__item {
  display: block;
  color: $c-light;
  text-decoration: none;
  margin: 3rem 0 0;
  padding: 1rem;
  transition: all ease-out $transition_fast;

  @include media-breakpoint-down(sm) {
    margin: 2.5rem 0 0;
    padding: 0;
  }

  .date {
    font-size: $s-16;
    color: $c-accent;
    font-weight: $medium;
    margin: 0 0 0.5rem;

    @include media-breakpoint-down(lg) {
      font-size: $s-16;
      margin: 0 0 0.5rem;
    }
  }

  h3 {
    font-size: $s-24;
    line-height: 1.6;
    font-weight: $semibold;

    @include media-breakpoint-down(lg) {
      font-size: $s-18;
    }
  }

  &:hover {
    transform: translate(0, -0.4rem);
  }
}

.button__to-news {
  margin: 2rem auto;
}

/*==================================================================================
  Footer
==================================================================================*/
.site__footer {
  width: 100%;
  margin: 2.5rem 0 0;

  .container-fluid {
    border-top: 3px solid #19172b;
    padding-top: 2rem;
  }

  .copyright {
    margin: 0.5rem 0 0;
    font-size: $s-12;
    font-weight: $medium;
    color: #78a0b4;
    opacity: 0.4;
    max-width: 140px;
    line-height: 1.6;

    @include media-breakpoint-down(lg) {
      max-width: none;
      text-align: center;
      margin: 1rem 0;
    }
  }
}

.socail__list {
  @include flexbox(flex, row, center, flex-start);
  flex-wrap: wrap;
  gap: 1rem;

  a {
    transition: all ease-out $transition_fast;

    &:hover {
      transform: translate(0, -0.2rem);
    }
  }

  @include media-breakpoint-down(lg) {
    min-width: max-content;
    margin: 0 0 0 0.5rem;
  }
}

.footer__box {
  margin: 0.2rem 0 0;

  .title {
    font-size: $s-14;
    color: #8699bb;
    text-transform: uppercase;
    font-weight: $bold;
    letter-spacing: 0.05em;
    margin: 0 0 1rem;

    @include media-breakpoint-down(lg) {
      margin: 0;
    }
  }

  .description {
    font-size: $s-14;
    font-weight: $medium;
    line-height: 1.6;

    @include media-breakpoint-down(lg) {
      text-align: right;
    }
  }

  .email {
    font-size: $s-14;
    font-weight: $semibold;
    color: $c-light;
    text-decoration: none;
    word-wrap: break-word;
    transition: all ease-out $transition_fast;

    &:hover {
      color: $c-accent;
    }
  }

  @include media-breakpoint-down(lg) {
    @include flexbox(flex, row, center, space-between);
    border-top: 1px solid #2f254d;
    padding: 1.5rem 0;
    margin: 0;

    &.footer__media {
      border: none;
    }
  }
}

.footer__inner {
  @include flexbox(flex, column, flex-start, flex-start);

  @include media-breakpoint-down(lg) {
    @include flexbox(flex, row-reverse, center, space-between);
    margin: 0 0 1rem;
  }
}

.address-mobile {
  font-size: $s-12;
  font-weight: $semibold;
  line-height: 1.4;
}

.d-mobile {
  display: none;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

@include media-breakpoint-down(lg) {
  .d-mobile-hidden {
    display: none;
  }
}

.footer__over {
  padding: 0 3.5vw 3rem;

  @include media-breakpoint-down(lg) {
    padding: 0;
  }
}

/*==================================================================================
  Single post
==================================================================================*/
.single-post {
  position: relative;
}

.article-bar {
  padding: 1rem 2.3vw 1rem;

  @include media-breakpoint-down(lg) {
    padding: 0;
    margin: 0 0 1.5rem 0.5rem;
  }
}

.button__back {
  @include flexbox(flex, row, center, center);
  width: fit-content;
  color: $c-light;
  font-size: 1rem;
  text-decoration: none;
  transition: all ease-out $transition_fast;

  svg {
    margin: -1px 0.6rem 0 0;
  }

  &:hover {
    color: $c-accent;
  }
}

.single__title {
  font-size: $s-34;

  @include media-breakpoint-down(md) {
    font-size: $s-26;
  }
}

.single__item-top {
  @include flexbox(flex, row, center, flex-start);
  margin: 1.5rem 0 2rem;

  @include media-breakpoint-down(sm) {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .date {
    font-size: $s-18;
    font-weight: $bold;
    background: -webkit-linear-gradient(45deg, #7c44c3, #6676c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(sm) {
      margin: 0 0 0.7rem;
    }
  }

  .download {
    margin: 0 1.5rem;

    @include media-breakpoint-down(sm) {
      margin: 0 0 0.7rem;
    }

    a {
      display: block;
      font-size: $s-18;
      font-weight: $semibold;
      padding: 7px 15px;
      background: $c-light;
      border-radius: 30px;
      text-decoration: none;
      color: $c-dark;
      text-align: center;
      transition: all ease-out $transition_fast;

      &:hover {
        background: $c-accent;
        color: $c-light;
      }
    }
  }
}

.single__image {
  display: none;

  width: 100%;
  height: 470px;
  margin: 1rem 0;

  @include media-breakpoint-down(sm) {
    height: 200px;
  }

  img {
    @include img-fit(cover);
    border-radius: 263.5px;
  }
}

.single__author {
  @include flexbox(flex, row, center, flex-start);
  margin: 0 0 1.5rem;

  .author__img {
    width: 48px;
    height: 48px;
    margin: 0 1rem 0 0;

    img {
      @include img-fit(cover);
      border-radius: 50%;
    }
  }

  .author__name {
    font-size: $s-18;
    text-transform: uppercase;
    font-weight: $bold;
  }
}

.section__single-title {
  padding: 6rem 0 0;

  @include media-breakpoint-down(lg) {
    padding: 4rem 0 0;
  }
}

/*==================================================================================
  Aging page
==================================================================================*/
.aging__title {
  @include flexbox(flex, row, center, center);
  height: 100%;

  h2 {
    font-size: $s-34;
    font-weight: $semibold;
    max-width: 500px;

    @include media-breakpoint-down(lg) {
      font-size: $s-26;
    }
  }
}

.panel-aging-circle {
  .aging__title {
    min-height: 300px;

    @include media-breakpoint-down(sm) {
      min-height: 250px;
    }
  }
}

/* Aging circle */
.circle {
  display: block;
  cursor: pointer;

  path {
    transition: all ease-out $transition_slow;
  }

  g {
    opacity: 0;
    transition: all ease-out $transition_slow;
  }

  &:hover,
  &.active {
    > path {
      fill: $c-light;
    }

    g {
      opacity: 1;

      path {
        &:nth-child(1) {
          stroke: $c-accent;
        }

        &:not(:nth-child(1)) {
          fill: $c-light;
        }
      }
    }
  }

  rect {
    opacity: 0;
  }
}

.circle__box {
  &:hover {
    g {
      //opacity: 1;
    }

    .circle__border {
      opacity: 1;
      transform: scale(1);
    }
  }

  .circle__border {
    opacity: 0;
    transform-origin: center;
    transform: scale(0.8);
    will-change: transform, opacity;
    transition: all ease-out 0.4s;
  }
}

.circle__list {
  position: relative;
  max-width: 550px;
  margin: 6vh auto 0;

  svg {
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.circle__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events: none;

  .description-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -45%) scale(0.8);
    padding: 0 25%;
    opacity: 0;
    transition: all ease-out $transition_fast;
    will-change: opacity, transform;

    &.active {
      opacity: 1;
      transform: translate(-50%, -45%) scale(1);
    }

    h4 {
      font-size: $s-18;
      color: $c-accent;
    }

    h6 {
      font-size: $s-14;
      margin: 0.5rem 0 0;
      line-height: 1.4;
    }
  }

  .box-start {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -35%);
    padding: 0 25%;
    transition: all ease-out $transition_fast;

    h3 {
      font-size: $s-24;
      font-weight: $semibold;
    }

    &.hidden {
      opacity: 0;
      transform: translate(-50%, -35%) scale(0.8);
    }
  }
}

.circle__row {
  @include flexbox(flex, row, flex-start, flex-start);
  max-width: calc(100% + 3rem);
  overflow-x: auto;
  touch-action: pan-x;
  margin: 3rem -1.5rem 0;

  @include media-breakpoint-up(sm) {
    display: none;
  }

  .description-box-mob {
    min-width: 300px;
    flex: 1;
    width: max-content;
    padding: 0 0 0 1.5rem;

    .title {
      @include flexbox(flex, row, center, flex-start);
      margin: 0 0 1rem;

      img {
        margin: 0 1rem 0 0;
      }

      h4 {
        font-size: $s-24;
        font-weight: $semibold;
      }
    }

    h6 {
      font-size: $s-16;
      font-weight: $medium;
      line-height: 1.4;
    }
  }
}

.aging__over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.aging__over-circle {
  position: absolute;
  top: 0;
  right: -3%;
  width: 60%;
  height: 100%;
  transform: scale(1);

  svg {
    width: 100%;
    height: 100%;
  }
}

/* Aging graph */
.aging__graph-one {
  max-width: 120%;
  height: auto;
}

@include media-breakpoint-up(lg) {
  .panel-aging-graph,
  .panel-aging-chart {
    &.active {
      .line {
        stroke-dasharray: 2000;
        animation: dash 3s linear;
      }
    }
  }
}

.aging__over-life {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    @include img-fit(cover);
  }
}

/* Aging life */
.aging__life {
  width: 100%;
  height: 100%;
  @include flexbox(flex, row, flex-end, center);

  @include media-breakpoint-down(lg) {
    height: auto;
    margin: 3rem 0 -3rem;
  }
}

.life__box {
  position: relative;
  width: 180px;
  height: 160px;
  background: linear-gradient(90deg, #6cbef3 0%, #3762e3 100%);
  padding: 3.5rem 1.8rem 0;
  transition: all ease-out 1.5s;

  h3 {
    font-size: $s-16;
    font-weight: $semibold;
    max-width: 100px;
  }

  .num {
    font-size: $s-70;
    font-weight: $bold;
  }

  &.blue {
    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 32px;
      background: linear-gradient(270deg, #3f70e6 0%, #37a5e3 100%);
      border-radius: 50%;
      transform: translate(0, -50%);
    }
  }

  &.violet {
    height: 160px;
    background: linear-gradient(90deg, #a632ee 0%, #3440b8 100%);

    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 32px;
      background: linear-gradient(270deg, #643bbc 0%, #6234e6 100%);
      border-radius: 50%;
      transform: translate(0, -50%);
    }
  }
}

.panel-aging-life {
  .container-fluid.over {
    position: relative;
    height: 100%;
    width: 100vw;
    margin-top: -12vh;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .row {
      height: 100%;
    }
  }

  .site__footer {
    margin: 0;
  }

  @include media-breakpoint-up(lg) {
    &.active {
      .life__box {
        height: 460px;

        &.violet {
          height: 360px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .life__box {
      height: 260px;

      &.violet {
        height: 360px;
      }
    }
  }
}

/* Aging chart */
.chart__box {
  width: fit-content;
  margin: 0 auto;

  .title {
    h3 {
      font-size: $s-16;
      font-weight: $semibold;
    }

    h4 {
      font-size: $s-30;
      font-weight: $semibold;
      margin: 0.5rem 0 1rem;
    }
  }

  svg {
    max-width: 100%;
    height: auto;
  }
}

/*==================================================================================
  Team
==================================================================================*/
.section__team-title {
  .entry-content {
    font-size: $s-34;
    font-weight: $semibold;
    margin: 6rem 0 0;
    max-width: 770px;

    p {
      line-height: 1.4;
    }

    @include media-breakpoint-down(lg) {
      margin: 4rem 0 1rem;
      font-size: $s-26;
    }
  }
}

.button__arrow {
  @include flexbox(flex, row, center, center);
  width: fit-content;
  margin: 0 auto;
  color: $c-light;
  text-decoration: none;
  font-weight: $semibold;
  transition: all ease-out $transition_fast;

  svg {
    margin: 0 0 0 0.7rem;
    transition: all ease-out $transition_fast;
  }

  &:hover {
    color: $c-accent;

    svg {
      transform: translate(50%, 0);
    }
  }
}

.button__careers {
  font-size: $s-18;
  margin: 2rem 0 0 auto;
  color: $c-light !important;

  &:hover {
    color: $c-accent !important;
  }
}

.team__menu {
  border-top: 2px solid #151f30;
  border-bottom: 2px solid #151f30;
  padding: 1.5rem 0;

  ul {
    @include flexbox(flex, row, center, center);
    list-style: none;

    li {
      margin: 0 1rem;
    }

    button {
      background: none;
      color: #2f395b;
      border: none;
      font-size: $s-24;
      font-weight: $semibold;
      cursor: pointer;
      transition: all ease-out $transition_fast;

      @include media-breakpoint-down(sm) {
        font-size: $s-18;
      }

      &:hover {
        color: $c-accent;
      }

      &.active {
        color: $c-light;
      }
    }
  }
}

.team__box {
  display: none;
  opacity: 0;
  padding: 3rem 0 2rem;
  transform: scale(0.8);
  transition: all ease-out $transition_fast;

  @include media-breakpoint-down(md) {
    padding: 1rem 0;
  }

  &.active {
    display: block;
    transform: scale(1);
    opacity: 1;
    height: auto;
  }

  &.advisors {
    .team__item-image {
      display: none;
    }

    .team__item {
      min-width: 220px;
      margin: 1.5rem auto;
    }
  }
}

.team__item {
  @include flexbox(flex, column, flex-start, flex-start);
  color: $c-light;
  text-decoration: none;
  width: fit-content;
  max-width: 205px;
  margin: 3rem auto;
  transition: all ease-out $transition_fast;

  @include media-breakpoint-down(md) {
    margin: 2rem auto;
    text-align: center;
    align-items: center;
  }

  .team__item-image {
    position: relative;
    width: 205px;
    height: 205px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 1.5rem;
    background: $c-light;
    transition: all ease-out $transition_fast;
    @include flexbox(flex, column, flex-start, flex-end);

    @include media-breakpoint-down(sm) {
      margin: 0 0 1rem 0;
    }

    img {
      @include img-fit(contain);
    }

    .see {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(56, 42, 72, 0.88) 0%, rgba(25, 33, 56, 0.88) 100%);
      color: $c-light;
      @include flexbox(flex, column, center, center);
      font-size: $s-24;
      font-weight: $semibold;
      opacity: 0;
      transition: all ease-out $transition_fast;
      transform: scale(1.05);
      will-change: opacity, transform;

      span {
        border-bottom: 1px solid $c-light;
      }
    }
  }

  h3 {
    font-size: $s-18;
    text-transform: uppercase;
    font-weight: $semibold;
  }

  h4 {
    font-weight: normal;
    margin: 0.5rem 0 0;
    color: #8699bb;
    font-weight: $medium;
  }

  &:hover {
    color: $c-accent;

    .team__item-image {
      background: rgba(0, 0, 0, 0);

      .see {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.team__item-last {
  .team__item {
    justify-content: center;

    @include media-breakpoint-down(md) {
      justify-content: flex-start;
    }
  }
}

.section__team-single {
  padding: 7rem 3.5vw 3rem;

  @include media-breakpoint-down(md) {
    padding: 4rem 0 0;
  }

  .button__back {
    margin: 0 2rem 0 -0.7rem;

    @include media-breakpoint-down(md) {
      margin: 0 0 1rem;
    }
  }
}

.align-items-center {
  align-items: center;
}

.team__single-image {
  position: relative;
  overflow: hidden;
  background: $c-light;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto;

  img {
    @include img-fit(contain);
  }
}

.team__single-content {
  .entry-content {
    font-size: $s-16;
    color: #8699bb;
    font-weight: $medium;

    p {
      margin: 1rem 0;
    }
  }

  .title {
    h1 {
      font-size: $s-34;
      font-weight: $semibold;
      text-transform: uppercase;
    }

    h4 {
      font-size: $s-24;
      text-transform: uppercase;
      font-weight: $semibold;
      margin: 0.5rem 0 0;
    }
  }
}

/*==================================================================================
  Posts
==================================================================================*/
.section__blog-list {
  position: relative;
  padding-top: 8rem;

  @include media-breakpoint-down(lg) {
    padding-top: 4rem;
  }
}

.loadmore {
  margin: 4rem auto 0;

  &.active {
    background: $c-dark;
    color: $c-light;
    pointer-events: none;
  }
}

#posts__items {
  position: relative;
  transition: all ease-out $transition_fast;

  &.hide {
    opacity: 0.8;
  }
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: all ease-out $transition_slow;
  backdrop-filter: blur(10px);
  @include flexbox(flex, row, center, center);
  will-change: opacity, transform;
  z-index: 2;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  span {
    position: sticky;
    top: 50%;
    font-size: $s-12;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: $light;
  }
}

.section__title {
  font-size: $s-34;
  text-align: center;

  @include media-breakpoint-down(lg) {
    font-size: $s-26;
  }
}

.latest-post__logo {
  max-width: 200px;
  height: 80px;
  margin: 0 0 0.5rem;

  img {
    @include img-fit(contain);
  }
}

.section__page {
  padding-top: 8rem;
  padding-bottom: 2rem;

  @include media-breakpoint-down(lg) {
    padding-top: 4rem;
  }

  .entry-content {
    img {
      margin: 3rem 0;
      width: 100%;

      @include media-breakpoint-down(md) {
        margin: 1.5rem 0;
      }
    }

    h2 {
      max-width: 610px;
      font-size: $s-34;
      text-transform: uppercase;
      font-weight: $semibold;
      line-height: 1.4;

      @include media-breakpoint-down(lg) {
        font-size: $s-26;
      }
    }

    h3 {
      max-width: 560px;
      font-size: $s-18;
      font-weight: $semibold;
      margin: 1rem 0 1.5rem;
      line-height: 1.6;

      @include media-breakpoint-down(lg) {
        font-size: $s-16;
      }
    }

    p {
      color: #8699bb;
      font-weight: $medium;
      line-height: 1.6;
    }
  }
}

.hidden-mobile {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.hidden-desktop {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.full-mobile {
  @include media-breakpoint-down(md) {
    margin: 0 -1.5rem;
  }
}

/*==================================================================================
  404
==================================================================================*/
.error-404 {
  position: relative;

  h1 {
    font-size: $s-34;
    font-weight: $semibold;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: $s-26;
    }
  }

  .page-content {
    text-align: center;
    color: #8699bb;
    font-weight: $medium;
    margin: 2rem 0 0;
  }
}

.error-bg {
  svg {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

.page-template-page-three {
  min-height: 400vh;

  header {
    display: none;
  }
}

.button__scrolldown {
  position: fixed;
  left: 50%;
  bottom: 3vw;
  background: rgba(19, 28, 44, 0.47);
  border: 3px solid #192131;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  @include flexbox(flex, row, center, center);
  cursor: pointer;
  transition: all ease-out $transition_slow;
  transform: translate(-50%, -50%);
  z-index: 3;

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }

  path {
    transition: all ease-out $transition_fast;
  }

  &:hover {
    animation-play-state: paused;
    border-color: $c-accent;

    path {
      fill: $c-accent;
      filter: brightness(1.5);
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}
