/**
 * General CSS File
 * Contains defaults and presets
 *
 * The Idea is to keep editing in this file to a
 * minimum while using vars.scss for very basic styling.
 *
 */

/*==================================================================================
  General
==================================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  font-family: $f-regular;
  font-size: $f-regular-size;
}

body {
  display: block;
  background: $c-background;
  color: $c-text;
  cursor: default;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  -webkit-overflow-scrolling: auto;
}

html,
body {
  height: 100%;

  @include media-breakpoint-down(lg) {
    height: auto !important;
  }
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  padding: 4rem 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

.content-top {
  padding: 4rem 0 0;

  @include media-breakpoint-down(sm) {
    padding: 1rem 0 0 0;
  }
}

.content-bottom {
  padding: 0 0 4rem;

  @include media-breakpoint-down(sm) {
    padding: 0 0 1rem;
  }
}

.no-padding {
  padding: 0;
}

.entry-content {
  font-size: $s-16;

  table {
    width: 100%;

    td {
      border-color: #7c7a7a;
    }
  }

  p {
    margin: 1rem 0;
    line-height: 160%;
  }

  a {
    color: $c-accent;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    position: relative;
    margin: 1.5rem;
    list-style: none;

    li {
      margin: 0.5rem 0;

      &::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $c-accent; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
    }
  }
}

button:focus {
  outline: 0;
}

select {
  cursor: pointer;
  width: 100%;
}

select,
input,
textarea {
  display: flex;
  align-items: center;
  background: $c-second;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  color: $c-dark;
  border: none;
  padding: 5px;
  margin: 0;
  outline: none;
}

img[loading="lazy"] {
  animation: show 1s;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.notfound {
  text-align: center;
}

.notfound {
  padding: 2rem;
}


/*==================================================================================
  Header
==================================================================================*/
.site__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vw 3.5vw;
  z-index: 99;
  @include flexbox(flex, row, center, space-between);

  @include media-breakpoint-down(lg) {
    padding: 1rem 1.5rem;
  }
}

.site__header-branding {
  transition: all ease-out $transition_fast;

  img {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      transform: scale(1.01);
    }
  }
}

.site__header-menu-button {
  display: none;

  @include media-breakpoint-down(lg) {
    @include flexbox(flex, column, center, center);
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0 0 auto;

    .line {
      width: 32px;
      height: 3px;
      background: $c-light;
      border-radius: $r-radius;
      margin: 5px 0;
      transition: all ease-out $transition_fast;
      will-change: transform;
    }

    &[aria-expanded="true"] {
      .line {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 4px);
        }

        &:nth-child(2) {
          transform: rotate(-45deg) translate(5px, -4px);
        }
      }
    }
  }
}

.site__header-navigation {
  flex: 1;
}

.site__header-nav-box {
  @include flexbox(flex, row, center, flex-end);
  margin: 0 0 0 2rem;

  @include media-breakpoint-down(lg) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 3.5rem 1rem 1rem;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    will-change: opacity;
    flex-direction: column;
    transition: all ease-out $transition_fast;

    &.active {
      width: 100%;
      opacity: 1;
      visibility: visible;
      background: rgba(20, 30, 46, 0.98);
    }
  }
}

.site__header-menu {
  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  > ul {
    @include flexbox(flex, row, flex-start, flex-start);
    list-style: none;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
    }

    > li {
      position: relative;
      padding: 1rem;

      @include media-breakpoint-down(lg) {
        border-top: 1px solid #3b3064;
      }

      > a {
        color: $c-light;
        text-decoration: none;
        font-size: $s-16;
        text-transform: uppercase;
        font-weight: $semibold;
        letter-spacing: 0.04em;
        transition: all ease-out $transition_fast;

        &:hover {
          color: $c-accent;
        }
      }

      > ul {
        @include media-breakpoint-up(lg) {
          position: absolute;
          @include flexbox(flex, column, flex-start, flex-start);
          bottom: 0;
          left: 0;
          width: max-content;
          list-style: none;
          background: rgba(20, 30, 46, 0.92);
          border-radius: $r-radius;
          padding: 0.4rem 0;
          z-index: 9;
          transform: translate(0, 95%);
          will-change: transform, opacity;
          transition: all ease-out $transition_fast;

          opacity: 0;
          visibility: hidden;

          > li {
            > a {
              display: block;
              color: #8699bb;
              text-decoration: none;
              font-size: $s-16;
              font-weight: $semibold;
              letter-spacing: 0;
              transition: all ease-out $transition_fast;
              padding: 0.4rem 1rem;

              &:hover {
                color: $c-accent;
              }
            }
          }
        }

        @include media-breakpoint-down(lg) {
          list-style: none;
          padding: 0.4rem 0 0;
          display: none;

          &.active {
            display: block;
          }

          > li {
            > a {
              display: block;
              color: $c-light;
              text-decoration: none;
              padding: 0.4rem;
              font-weight: $medium;
              transition: all ease-out $transition_fast;

              &:hover {
                color: $c-accent;
              }
            }
          }
        }
      }

      &.menu-item-has-children {
        position: relative;
        @include flexbox(flex, row, center, center);

        @include media-breakpoint-down(lg) {
          flex-direction: column;
          align-items: flex-start;
          text-align: left;

          > span {
            position: absolute;
            top: 10px;
            right: 0;
            width: 40px;
            height: 35px;
            display: block;
            cursor: pointer;
            background: url(assets/dist/svg/dropdown.svg) no-repeat center;
            background-size: 20px;
            z-index: 1;
            transition: all ease-out $transition_fast;

            &.active {
              transform: scaleY(-1);
            }
          }
        }

        @include media-breakpoint-up(lg) {
          &:hover {
            > a {
              &::after {
                transform: scaleY(-1);
              }
            }
          }

          &:hover {
            > a {
              color: $c-accent;
            }

            ul {
              visibility: visible;
              transform: translate(0, 100%);
              opacity: 1;
            }
          }
        }

        > a {
          position: relative;
          @include flexbox(flex, row, center, center);

          @include media-breakpoint-up(lg) {
            justify-content: space-between;
            text-align: left;

            &::after {
              content: "";
              margin: 0 0 0 7px;
              width: 7px;
              height: 5px;
              background: url(assets/dist/svg/dropdown.svg) no-repeat center;
              transition: all ease-out $transition_fast;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    &.menu-left {
      ul {
        li:first-child {
          border: none;
        }
      }
    }
  }
}
